

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #b1ced8;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

img{
    width: 100%;
}

.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.box--left{
    background-color: #399c7e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    padding: 0 50px 50px 50px ;
    border-radius: 5px 0 0 5px;
}

.box--left h1{
    color: #f4faf8;
    font-size: 1.5rem;
}

.box--left h5{
    color: #88c3b2;
    font-size: 0.8rem;
    text-align: left;
    font-family: "Arial", sans-serif;
}

.box--right{
    background-color: #fff;
    height: 500px;
    padding: 70px 70px 20px 70px;
    border-radius: 0 5px 5px 0;
    position: relative;
}

.box--right h1{
    color: #4e4141;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
}

.box--right h5{
    color: #b7b6b6;
    text-align: left;
    font-size: 0.8rem;
    font-family: "Arial", sans-serif;
    margin-bottom: 20px;
}

input, select{
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: none;
    color: #4e4141;
    font-weight: 500;
}

::placeholder{
    color:#4e4141;
    font-weight: 400;
}
input{
    color: #4e4141;
    font-weight: 400;
}

select{
    color: #4e4141;
    font-weight: 400;
}

select,input:hover{
    cursor: pointer;
}

h4{
    color: #4e4141;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    padding: 10px 0 0 10px;
}

.box--right__div{
    display: flex;
    align-items: center;
    justify-content: left;
}

.box--right__div input{
    background-color: #f1f1f1;
    color: #4e4141;
    border: none;
    width: 40px;
}

.box--right__div label{
    color:#4e4141;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

input[type="radio"] {
    accent-color: #4e4141;
}

.box--right__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0 0 0;
    position: absolute;
    bottom: 30px;
    right: 40px;
}

button{
    font-family: "Fredoka", sans-serif;
    background-color: #32af8e;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    transition:  0.5s;
    white-space: nowrap;
}

button:hover{
    background-color: #1d5a4a ;
}